# Folder
/target/
*/target/*
*.jar
/logs
/out/
*.log
!.mvn/wrapper/maven-wrapper.jar

# Ide and OS
.idea
*.iws
*.iml
*.ipr
*.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# sts
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*